.glasses {
	width: 600px;
	height: 300px;
}

.lenses * {
	box-sizing: border-box;
	background-color: blue;
}

.left {
	height: 300px;
	width: 300px;
	border: 30px solid orange;
	border-radius: 50%;
	float: left;
}

.right {
	height: 300px;
	width: 300px;
	border: 30px solid orange;
	border-radius: 50%;
	float: left;
}

.bridge {
	width: 100px;
	height: 50px;
}

.bridge * {
	background-color: orange;
	height: 25px
	width: 100px;
	float: right;
}
